.slogan {
    margin-up: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0, 0.5);
}
.printed_list {
    display: flex;
    justify-content: center;
}
.error_massage {
    color: crimson;
    font-weight: bold;
}